# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Portable tools
maven-portable/
maven.zip

# IDEs and editors
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
Thumbs.db
Desktop.ini
.DS_Store
